body {
  background: url("http://www.randco.com/media/wysiwyg/RCo-PDP-Background-Images/outerspace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 1px;
}

.white {
  float: right;
  background-color: white;
  height: 2px;
  width: 3px;
  margin: 0px;
  padding: 0px;
}
.container {
  clear: both;
  position: relative;
  height: 450px;
  width: 450px;
  margin: 0px auto;
}
